* {
  margin: 0;
}

.card-border {
  border: solid 1px #e6e6e6;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px 6px 0px 0px;
}

.address-cart-header {
  background-color: #fafafa;
  border-radius: 6px 6px 0px 0px;
  border-bottom: solid 1px #e6e6e6;
}

.edit-address-button {
  color: #333;
  border: solid 1px #232f3e;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.dropdown-menu {
  border: 1px solid #e6e6e6;
  padding: 8px;
  border-radius: 6px;
  outline: none;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.continue-shop-button {
  background-color: #232f3e;
  color: #fff;
}

input[type="text"]:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 1px #333;
  transition: 0.5s;
}

#addressTextArea:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid 1px #333;
  transition: 0.5s;
}
