@charset "UTF-8";

.alert-info {
    width: calc(100% - 34px - 2px);
    padding: 11px 17px;
    background-color: #60a5fa;
    border: 1px solid #2563eb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 11px;
}